/*La tipografía viene de Adobe Fonts, realicé el mismo procedimiento que hicimos para Google Fonts*/

@import url("https://use.typekit.net/qlw8gfm.css");


body{
    background-image: url(../imagen/FondoLanding.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: futura-pt,sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    font-size: 9em;
    text-align: center;
    margin-top: 15%;

}


#boton {
    font-family: futura-pt,sans-serif;
    color: #F3994E;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 2em;
    text-align: right;
    border: none;
}

header {
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
}
a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.75em;
    text-align: right;
}

nav {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    font-size: 1em;
    text-align: right;
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    
}

nav div {
    width: 25%;
}


